* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

.plusSign {
  width: 30rem; /* Adjust the width as needed */
  height: 30rem; /* Adjust the height as needed */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.2;
}